body {
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: azure;
}

h1 {
  font-size: 5vw;
}

h1 span {
  border: solid 2px black;
  margin: 2vw;
  padding: 0px 10px;
}

p {
  font-size: 4vw;
  padding: 3vw;
  display: block;
}

input {
  max-width: 30vw;
  text-align: center;
  border: solid 1px;
  font-size: 5vw;
  padding: 2vw;
  border-radius: 2vw;
  background-color: floralwhite;
}

button{
  margin: 3vw;
  font-size: 3vw;
  border-radius: 1vw;
  padding: 1.5vw;
}

.btnP {
  background-color: lightblue;
}

#reset {
  background-color: rgba(210, 90, 50, .6);
}

.won {
  background-color: aquamarine;
	color: forestgreen;
}

.lose {
  background-color: coral;
	color: crimson;
}
